In [4]:
import pandas as pd

In [11]:
df=pd.DataFrame([[2,5,6],[4,7,8],[4,9,5]], columns=['a','b','c'],index=["x","y","z"])

In [13]:
df.head()

   a  b  c
x  2  5  6
y  4  7  8
z  4  9  5

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [15]:
df.describe()

              a    b         c
count  3.000000  3.0  3.000000
mean   3.333333  7.0  6.333333
std    1.154701  2.0  1.527525
min    2.000000  5.0  5.000000
25%    3.000000  6.0  5.500000
50%    4.000000  7.0  6.000000
75%    4.000000  8.0  7.000000
max    4.000000  9.0  8.000000

In [17]:
df.tail(1)

   a  b  c
z  4  9  5

In [22]:
df.nunique()

a    2
b    3
c    3
dtype: int64